.waves-wrapper {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  background: transparent;
}

.waves-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.wave-placeholder {
  width: 100%;
  height: 100%;
}
