/* src/app/globals.css */

/* 1. Tokens de Cores. Definidos em :root para alta especificidade. */
:root { 
  --brand-color1: #35eedf; /* Ciano/Verde Água - O nosso bg-brand-primary */
  --brand-color2: #b6ef2e;

  --color-bg: #121214; /* Cor de fundo principal */
  --color-bg-alt: #0f161e;

  --color-elements: #202024;

  --color-secondary: #2f3640;
  --color-tertiary: #4d5866;
  --color-quaternary: #6c7c8c;

  --color-titles: #e1e1e6;
  --color-white: #ffffff;

  --color-text-low: #6c7c8c;
  --color-text-high: #c4c4cc;
}

/* 2. As três diretivas do Tailwind CSS - ORDEM CORRETA! */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Estilos Base (Body) */
body {
  /* Garante a cor de texto padrão. O fundo será aplicado via classe no layout.tsx. */
  color: var(--color-text-high);
  -webkit-font-smoothing: antialiased;
}